* {
  padding: 0;
  margin: 0;

  text-decoration: none;
}
 
 body {

    background: #B49974;

}

header {
       background: darkred;
       padding: 40px 390px;
       box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 90%; 
    margin: 0 auto; 
  }
  
  .logo img {
    height: 110px; 
    width: auto;
    margin-top: -33%;
    margin-left: -35%;
  
  }
  
  .nav-links {
    display: flex; 
    gap: 95px;
  }
  
  .nav-links a {
    font-family: "Tourney", serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px 15px;
    border: 2px solid burlywood;
    border-radius: 10px;
    background-color: peachpuff;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: burlywood;
    color:#E63B35;
  }


h1 { 
    font-family: "Tourney", serif;  
    font-weight: 300 weight;
    font-style: normal;
    margin-bottom: 25%;
    margin-top: 65px;
    text-align: center; 
    color: darkred;
    font-size: 75px;
}

h2 {
    font-family: "Tourney", serif;   
    font-size: 49px;
    color: darkred;
    text-align: center;
    top: 50px;

}

h3 { 
  font-family: "Tourney", serif;  
  font-weight: 300 weight;
  font-style: normal;
  color: darkred;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.logo {
    position: absolute;
    top: 10%; 
    left: 20%; 
    right: 20%;
}

.sports_image img {
    width: 200;
    height: auto;
    opacity: 100px;
    transition: opacity 3s ease-in
}

.sports_image img:hover {
    opacity: 50;
}


.footer {
    
    color: white;
}

footer { 
    font-family: "Tourney", serif;  
    font-optical-sizing: auto;
    font-weight: 300 weight;
    font-style: normal;
    
    background-color: darkred;
    color: white;
    width: 100dvw;
    padding-top: 2%;
    padding-bottom: 2%;
    word-spacing: 5px;
    font-size: 25px;
    text-align: center;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

img { 
    display: block;
    justify-content: center;
    padding-left: 13%;
    padding-top: 24%;
    padding-bottom: 15%;
    
}
