* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: #EBC683;
    font-family: 'Tourney', sans-serif;
}

header {
    background: darkred;
    padding: 40px 390;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo img {
    height: 110px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border: 2px solid burlywood;
    border-radius: 10px;
    background-color: peachpuff;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: burlywood;
    color: #E63B35;
}

.shop-intro {
    text-align: center;
    padding: 50px 0;
}

.shop-intro h1 {
    font-size: 4rem;
    color: #E63B35;
}

.shop-intro h2 {
    font-size: 2rem;
    color: #444;
}

.shop-products {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 10%;
}

.product {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 200px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product p {
    margin: 5px 0;
    color: #444;
}

.price {
    font-size: 1.2rem;
    color: #E63B35;
    font-weight: bold;
}

.footer {
    
    color: white;
}

footer { 
    font-family: "Tourney", serif;  
    font-optical-sizing: auto;
    font-weight: 300 weight;
    font-style: normal;
    
    background-color: darkred;
    color: white;
    width: 100dvw;
    padding-top: 2%;
    padding-bottom: 2%;
    word-spacing: 5px;
    font-size: 25px;
    text-align: center;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}


