* {
   padding: 0;
   margin: 0;

   text-decoration: none;
}
 
 body {

       background: #B49974;

}

header {
    background: darkred;
    padding: 40px 390px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 90%; 
    margin: 0 auto; 
}

.logo img {
    height: 106px; 
    width: auto;
    margin-top: -33%;
    margin-left: -35%;
  
 }

.logo {
    position: absolute;
    top: 7%; 
    left: 16%; 
    right: 45%;
}

.nav-links {
    display: flex; 
    gap: 95px;
}

.nav-links a {
    font-family: "Tourney", serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px 35px;
    border: 2px solid burlywood;
    border-radius: 10px;
    background-color: peachpuff;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.nav-links a:hover {
    background-color: burlywood;
    color: #E63B35;

}

h1 {
    font-family: "Tourney", serif;  
    font-weight: 300 weight;
    font-style: normal;
    margin-bottom: 25%;
    margin-top: 65px;
    text-align: center; 
    color: darkred;
    font-size: 75px;
}

h2 {
    font-family: "Tourney", serif;  
    font-weight: 200 weight;
    font-style: normal; 
    color: darkred;
    font-size: 28px;
    margin-top: 10px;
}

.info {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px 20px;
    margin-top: -240px; 
}

h2, p {
    line-height: 1.6; 
    text-align: justify;
    margin-bottom: 20px; 
}

.sponsor {
    width: 300px;
    height: 300px; 
    display: block;
    margin-left: 650px;
    margin-right: auto;
    align-items: center;
}

.footer {
    
    color: white;
}

footer { 
    font-family: "Tourney", serif;  
    font-optical-sizing: auto;
    font-weight: 300 weight;
    font-style: normal;
    
    background-color: darkred;
    color: white;
    width: 100dvw;
    padding-top: 2%;
    padding-bottom: 2%;
    word-spacing: 5px;
    font-size: 25px;
    text-align: center;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}